@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

body{
    background: linear-gradient(to left, #140101, #5b0606);
}

section{
  background-color: #922424;
  border-radius: 9px;
  margin-left: 50px;
  margin-right: 50px;
}

section:hover{
  background-color: #b33a3a;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

h1{
  color:  #922424;
  font-size: 3em;
  text-align: center;
  font-family: Orlega One, sans-serif;
}

.botao{
  padding:5 px;
  background-color: #c65252;
  font-size: 30px;
  text-decoration: none;
}

.fotos{
  display: flex;
  justify-content: space-evenly;
}

img{
  height: 300px;
  border-radius: 20px;
}

img:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
  border: 4px solid rgb(255, 0, 0);
}

#faixaAudio{
  text-align: center;
}

h2{
  color: #ebf5f3e8;
  font-size: 2em;
  text-align: center;
}

p{
  color: rgb(212, 228, 228);
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

ol, ul{
  color: azure;
  font-size: 22px;
  font-style: italic;
}

a{
  color:aliceblue
}

a:hover{
  color: rgb(91, 16, 27);
}